k8s-knative-classifier-course/gcp-env/scripts/PING_hello-world.sh
.idea
.DS_Store
k8s-knative-classifier-course/analysis-func/node_modules/
k8s-knative-classifier-course/trigger-func/node_modules/
k8s-knative-classifier-course/trigger-func/.env
k8s-knative-classifier-course/analysis-func/.env
k8s-knative-classifier-course/analysis-func/.env
